body{
  background-color: #b3c6ff;
}

a:hover{
  text-decoration: none;
  color: black;
}

#title{
  text-align: center;
}

#ifEndangered{
  display: none;
}

#nav{
  margin: 0px;
}

#right-nav{
  margin-left: 40px;
}
