<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <div class ="well">
        <h3><a href="/">Home</a><a href="/sightings/all">All Sightings</a></h3>
      </div>
      <div class="well">
        #parse( $template )
      </div>
    </div>
  </body>
</html>
